---
import site from '../data/site.json';

const {
  title,
  description,
  image = `${site.url}/images/nitedream-og-image.jpg`,
  canonicalURL = `${site.url}${Astro.url.pathname}`
} = Astro.props;

const blogRssFeed = `${site.url}/blog.xml`;

---
<html lang="en-GB">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="/style/blog.css">
<link rel="icon" type="image/ico" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="og:image" content={image} />
<meta name="generator" content={Astro.generator}>
<link rel="canonical" href={canonicalURL} />
<link rel="alternate" type="application/rss+xml" title={site.title} href={blogRssFeed} />
<script defer data-domain="nitedre.am" src="https://plausible.io/js/script.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>